@media (max-width: 767px) {
	.modal.fade.in {
		top: 10% !important;
	}
}
.modal-header{
	background-color: #7f0000;
	-webkit-box-shadow: -2px 6px 5px -3px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: -2px 6px 5px -3px rgba(0, 0, 0, 0.7);
	box-shadow: -2px 6px 5px -3px rgba(0, 0, 0, 0.7);
	border-bottom: 1px solid rgb(122, 114, 114);
}
.modal-header h3 {
	color:white;
}
.modal .input-prepend .add-on{
	min-width: 80px;
	text-align: left;
	background: none;
}

.modal .words-amount{
	font-size:12px;
}
.modal .row-fluid {
margin-bottom: 5px;
line-height: 3;
}
.modal .modal-section-header{
	text-align: center;
	border-bottom: 2px dotted #925c5c;
	color: #7f0000;
	font-size: 15px;
}


.modal {
	display: block;
	left: 15%;
	width: 70%;
	margin: auto !important;
	top: 10% !important;
}
.smallModal {
	left:25% !important;
	width:50% !important;
	top: 10% !important;
	margin: auto !important;
}
.longModal {
	left: 2%;
	width: 96%;
	margin: auto !important;
	top: 5% !important;
	height: 90% !important;
}

.longModal .modal-body{
	min-height: 460px;
}


.modal input,.modal select{
	border-radius: 3px;
	border-top-left-radius:3px !important;
	border-bottom-left-radius:3px !important;
}
.modal label {
	display: inline-block;
	/* line-height: 4px; */
	margin-bottom: 6px;
	width: 100px;
	text-align: right;
	font-size: 13px !important;
	font-weight: bold;
	padding-right: 4px;
}
/*.modal label:after{
	display-block:content: "X";
}
*/
.sub-modal{
	top: 76% !important;
}
 
 
.caption-bordered{
	font-size: 15px;
	font-weight:bold;
	background-color: #7f0000;
	color:rgb(238, 230, 230);
	text-shadow: 0.1em 0.1em 0.05em #010101;
	padding: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
caption{
	color:#7f0000;
	font-weight:bold;
}

.outside-modal-form{
	min-height: 75px;
	width: 1000px;
	position: relative;
	top: 50%;
	margin: 0 auto;
}
.outside-modal-form label{
	display: inline-block;
	line-height: 4px;
	margin-bottom: 6px;
	width: 100px;
	text-align: right;
	font-size: 13px !important;
	font-weight: bold;
	padding-right: 4px;
}

.minHeight250px{
	min-height: 250px;
}
